<a li-object:href="article.url" href="{{ article.url }}" class="blog_item-grid w-inline-block"><div id="w-node-_9f624b4c-5d23-e6d1-993f-6049e61f1d22-e61f1d21" class="blog_tags-wrapper"><img src="{{ article.image | img_url: 'master' }}" loading="lazy" id="w-node-_9f624b4c-5d23-e6d1-993f-6049e61f1d23-e61f1d21" li-object:src="article.image | img_url: 'master'" alt="" class="blog_img">
<div class="blog_tags"><div li-object:text="article.tags" class="blog_tag">
{{ article.tags }}
</div></div></div><div class="blog_info-wrapper"><h3 li-object:text="article.title" class="heading-medium">
{{ article.title }}
</h3></div></a>
