<script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        open: false,
        note: null,
        attributes: {},
        original_total_price: 0,
        total_price: 0,
        total_discount: 0,
        total_weight: 0.0,
        item_count: 0,
        products: [],
        requires_shipping: false,
        currency: 'EUR',
        items_subtotal_price: 0,
        cart_level_discount_applications: [],
        cartApiResponseDefault : {
            result : {},
            show : false,
            timeout : 5000,
        },
        cartApiResponse : {
            result : {},
            show : false,
            timeout : 5000,
        },

        // deprecated:
        total: {
            items: 0,
            price: 0,
            weight: 0,
            discount: 0,
        },
        _abortController : null,
        initAbortController() {
            if(this._abortController) {
                this._abortController.abort('abort previous request');
            }
            this._abortController = new AbortController()
        },
        getAbortControllerSignal() {
            return this._abortController.signal
        },
        resetAbortController() {
            this._abortController = null;
        },
        toggleMiniCart() {
            console.log('toggleMiniCart called (minicart.js)');

            LiquifyHelper.handleTriggerClick();

            this.getCart();
            // @todo: check if the change of this.open can be removed.
            this.open = !this.open;
        },

        /**
         * Get the cart data.
         */
        getCart() {
            this.initAbortController()
            fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
            })
            .then(response => response.json())
            .then(data => {
                this.resetAbortController();

                this.total.items = data.item_count;

                this.products = data.items.map((item) => {
                    item.title = this.htmlspecialchars_decode(item.title)
                    return item
                })

                this.total.price = data.total_price;
                this.total.weight = data.total_weight;
                this.total.discount = data.total_discount;

                this.$dispatch('carttotalitems', data.item_count);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        },

        /**
         * @param id
         * @param quantity
         */
        increaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) + 1);
        },

        /**
         * @param id
         * @param quantity
         */
        decreaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param id
         * @param quantity
         */
        updateCartItemQuantity(id, quantity) {
            this.initAbortController();
            console.log('updateCartItemQuantity(): id, quantity: ', id, quantity);
            this.products.filter((product)  => {
                if(parseInt(product.id) === parseInt(id)) {
                    product.quantity = quantity
                }
            })
            fetch(window.Shopify.routes.root + 'cart/change.js', {
                method: 'POST',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: `${id}`,
                    quantity: quantity,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated');
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: error?.status, message: error, description: error });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        htmlspecialchars_decode(string) {
            return LiquifyHelper.htmlspecialchars_decode(string)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            console.log("dispatched showCartMessage", event)
            if(event?.detail?.status) {
                this.cartApiResponse.result = event.detail ?? this.cartApiResponseDefault.result;
                this.cartApiResponse.show = true
                setTimeout(() =>  this.cartApiResponse =  this.cartApiResponseDefault, this.cartApiResponse.timeout ?? 5000)
            }
        },
    }))
});


</script>
<div data-hover="false" data-delay="0" li-element="mini-cart" class="nav_dropdown w-dropdown" x-cloak="" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage"><div li-element="mini-cart-trigger" class="nav_shop-icon w-dropdown-toggle"><div class="icon-embed-xsmall text-color-white is-nav is-cart w-embed"><svg width="100%" height="100%" viewbox="0 0 22 22" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M19.5232 19.0551L18.0257 4.79474C17.9943 4.49621 17.7427 4.26952 17.4425 4.26952H14.6279V3.62781C14.6279 1.62751 13.0004 0 11.0001 0C8.99963 0 7.37212 1.62751 7.37212 3.62781V4.26952H4.55754C4.25735 4.26952 4.00572 4.49621 3.9743 4.79474L2.47682 19.0551C2.45953 19.2203 2.51319 19.3852 2.62428 19.5088C2.73552 19.6322 2.89395 19.7027 3.06006 19.7027H18.9398C19.1061 19.7027 19.2645 19.6322 19.3756 19.5088C19.487 19.3852 19.5405 19.2203 19.5232 19.0551ZM8.54491 3.62781C8.54491 2.27418 9.6463 1.17279 11.0001 1.17279C12.3537 1.17279 13.4551 2.27418 13.4551 3.62781V4.26952H8.54491V3.62781ZM3.71124 18.5299L5.08561 5.44232H7.37212V6.73461C7.37212 7.0584 7.63473 7.32101 7.95852 7.32101C8.28231 7.32101 8.54491 7.0584 8.54491 6.73461V5.44232H13.4551V6.73461C13.4551 7.0584 13.7177 7.32101 14.0415 7.32101C14.3653 7.32101 14.6279 7.0584 14.6279 6.73461V5.44232H16.9144L18.2888 18.5299H3.71124Z" fill="currentColor"></path></svg></div><div li-element="mini-cart-item-count" class="nav_shop-quantity" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">1</div></div><nav li-element="mini-cart-container" class="nav_mini-cart-holder w-dropdown-list" :class="open || 'mini-cart-closed'"><div li-element="dropdown-toggle" class="nav_mini-cart-close" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"></div><div class="mini-cart_component"><div x-data="{ shippingFree: 1500 }" li-element="mini-cart-full" class="mini-cart_full" :style="total.items < 1 && { display: 'none' }"><div class="mini-cart_header"><div class="mini-cart_header-inner"><div class="heading-style-h5 text-color-black">Cart</div><div class="text-size-small">(<span li-element="mini-cart-item-count" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">0</span>)</div></div><div li-element="dropdown-toggle" class="icon-embed-small is-closer w-embed" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><svg width="100%" height="100%" viewbox="0 0 33 33" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M29.4788 22.9176C29.5985 22.9872 29.6934 23.0699 29.7582 23.1609C29.8229 23.2519 29.8563 23.3494 29.8563 23.4479C29.8563 23.5463 29.8229 23.6438 29.7582 23.7348C29.6934 23.8258 29.5985 23.9085 29.4788 23.9781C29.3591 24.0477 29.217 24.103 29.0607 24.1406C28.9043 24.1783 28.7367 24.1977 28.5675 24.1977C28.3982 24.1977 28.2306 24.1783 28.0743 24.1406C27.9179 24.103 27.7758 24.0477 27.6562 23.9781L16.9748 17.7622L6.29337 23.9781C6.05168 24.1187 5.72387 24.1977 5.38206 24.1977C5.04025 24.1977 4.71244 24.1187 4.47074 23.9781C4.22905 23.8375 4.09326 23.6467 4.09326 23.4479C4.09326 23.249 4.22905 23.0582 4.47074 22.9176L15.1537 16.7027L4.47074 10.4878C4.22905 10.3471 4.09326 10.1564 4.09326 9.95752C4.09326 9.75864 4.22905 9.56791 4.47074 9.42728C4.71244 9.28665 5.04025 9.20764 5.38206 9.20764C5.72387 9.20764 6.05168 9.28665 6.29337 9.42728L16.9748 15.6431L27.6562 9.42728C27.8979 9.28665 28.2257 9.20764 28.5675 9.20764C28.9093 9.20764 29.2371 9.28665 29.4788 9.42728C29.7205 9.56791 29.8563 9.75864 29.8563 9.95752C29.8563 10.1564 29.7205 10.3471 29.4788 10.4878L18.7958 16.7027L29.4788 22.9176Z" fill="currentColor"></path></svg></div></div><div class="mini-cart_line-item no-scrollbar"><div class="discount_component"><div class="text-size-regular">Use code: HAOJ for <span class="text-color-yellow">10% disscount</span></div></div><ul role="list" class="mini-cart_line-item_list w-list-unstyled"><template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item" x-init="getCart()"><img src="../images/placholder-3.svg" loading="lazy" alt="" class="mini-cart_line-item_img" x-bind:src="product.image">
<div class="mini-cart_line-item_product-info"><div class="mini_cart-content"><div li-js-object="product.title" class="text-size-regular text-color-black" x-text="product.title">Titanium | Model G1-T | Silver</div><div li-element="mini-cart-item-remove" class="text-size-tiny text-color-grey is-link" :productprop="product" @click="$dispatch('setcartitem', { product: product.id, quantity: 0 })">Remove</div></div><div class="mini_cart-adjust"><div class="mini-cart_line-item_price"><div li-js-price="product.price" class="text-size-regular" x-text="moneyFormat(product.price)">14,99 $</div><template x-if="product.price < product.original_price">
            <div li-js-if="product.price < product.original_price">
        <div li-js-price="product.original_price" class="text-size-small text-style-strikethrough text-style-muted" x-text="moneyFormat(product.original_price)">14,99 $</div>        </div>
    </template>
</div><div class="mini-cart_line-item_quantity"><a li-element="mini-cart-item-decrease" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('decreasecartitem', { product: product.id, quantity: product.quantity, action: 'decrease' })">-</a><input li-element="mini-cart-item-quantity" class="mini-cart_line-item_quantity-adjust" value="1" :productprop="product" @blur="$dispatch('setcartitem', { product: product.id, quantity: product.quantity })" x-model="product.quantity">
<a li-element="mini-cart-item-increase" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('increasecartitem', { product: product.id, quantity: product.quantity, action: 'increase' })">+</a></div></div></div></li></template>
</ul></div><div class="mini-cart_footer"><div class="mini-cart_footer_total"><div class="text-size-medium text-color-hazel70">Subtotal</div><div class="mini-cart_footer_total-inner"><template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price">
        <div li-js-price="original_total_price" class="text-size-regular text-weight-bold text-style-strikethrough text-style-muted" x-text="moneyFormat(original_total_price)">14,99 $</div>        </div>
    </template>
<div li-js-price="total.price" class="text-size-medium text-color-black" x-text="moneyFormat(total.price)">14,99 $</div></div></div><div li-cloak="hide" li-element="mini-cart-api-response" class="mini-cart_footer-message"><div class="mini-cart_footer-message-item"><div class="text-size-regular text-weight-bold">Status</div><div li-js-object="cartApiResponse?.result?.status" class="text-size-regular text-weight-bold" x-text="cartApiResponse?.result?.status">14,99 $</div></div><div class="mini-cart_footer-message-item"><div class="text-size-regular text-weight-bold">Nachricht</div><div li-js-object="cartApiResponse?.result?.message" class="text-size-regular text-weight-bold" x-text="cartApiResponse?.result?.message">14,99 $</div></div><div class="mini-cart_footer-message-item"><div class="text-size-regular text-weight-bold">Status</div><div li-js-object="cartApiResponse?.result?.description" class="text-size-regular text-weight-bold" x-text="cartApiResponse?.result?.description">14,99 $</div></div></div><div class="shipping_component"><div class="shipping_component-top"><div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 26 26" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><rect x="0.199707" y="0.543518" width="25.449" height="25.449" rx="12.7245" fill="#EEEEEE"></rect><g clip-path="url(#clip0_12_2251)"><path d="M20.8863 12.1344L19.953 9.80108C19.8738 9.60356 19.737 9.43439 19.5605 9.31552C19.384 9.19664 19.1758 9.13355 18.963 9.13442H16.6577V8.60108C16.6577 8.45963 16.6015 8.32398 16.5014 8.22396C16.4014 8.12394 16.2658 8.06775 16.1243 8.06775H5.99098C5.70809 8.06775 5.43677 8.18013 5.23674 8.38017C5.0367 8.58021 4.92432 8.85152 4.92432 9.13442V16.6011C4.92432 16.884 5.0367 17.1553 5.23674 17.3553C5.43677 17.5554 5.70809 17.6677 5.99098 17.6677H7.12432C7.24181 18.1266 7.50869 18.5334 7.88288 18.8238C8.25707 19.1143 8.71729 19.2719 9.19098 19.2719C9.66467 19.2719 10.1249 19.1143 10.4991 18.8238C10.8733 18.5334 11.1402 18.1266 11.2577 17.6677H14.591C14.7085 18.1266 14.9754 18.5334 15.3495 18.8238C15.7237 19.1143 16.184 19.2719 16.6577 19.2719C17.1313 19.2719 17.5916 19.1143 17.9658 18.8238C18.3399 18.5334 18.6068 18.1266 18.7243 17.6677H19.8577C20.1405 17.6677 20.4119 17.5554 20.6119 17.3553C20.8119 17.1553 20.9243 16.884 20.9243 16.6011V12.3344C20.9244 12.2659 20.9115 12.1981 20.8863 12.1344ZM9.19098 18.2011C8.98002 18.2011 8.77379 18.1385 8.59838 18.0213C8.42296 17.9041 8.28625 17.7375 8.20551 17.5426C8.12478 17.3477 8.10365 17.1332 8.14481 16.9263C8.18597 16.7194 8.28756 16.5293 8.43674 16.3802C8.58591 16.231 8.77597 16.1294 8.98289 16.0882C9.1898 16.0471 9.40427 16.0682 9.59918 16.1489C9.79409 16.2297 9.96068 16.3664 10.0779 16.5418C10.1951 16.7172 10.2577 16.9234 10.2577 17.1344C10.2577 17.4173 10.1453 17.6886 9.94523 17.8887C9.74519 18.0887 9.47388 18.2011 9.19098 18.2011ZM5.99098 13.4011V9.13442H15.591V13.4011H5.99098ZM16.6577 18.2011C16.4467 18.2011 16.2405 18.1385 16.065 18.0213C15.8896 17.9041 15.7529 17.7375 15.6722 17.5426C15.5914 17.3477 15.5703 17.1332 15.6115 16.9263C15.6526 16.7194 15.7542 16.5293 15.9034 16.3802C16.0526 16.231 16.2426 16.1294 16.4496 16.0882C16.6565 16.0471 16.8709 16.0682 17.0658 16.1489C17.2608 16.2297 17.4273 16.3664 17.5446 16.5418C17.6618 16.7172 17.7243 16.9234 17.7243 17.1344C17.7243 17.4173 17.6119 17.6886 17.4119 17.8887C17.2119 18.0887 16.9405 18.2011 16.6577 18.2011ZM16.6577 11.8011V10.2011H18.963L19.603 11.8011H16.6577Z" fill="#4B4B4B"></path></g><defs><clippath id="clip0_12_2251"><rect width="16" height="16" fill="white" transform="translate(4.92432 5.26801)"></rect></clippath></defs></svg></div><div x-bind:style="'display: ' + (total.price >= shippingFree ? 'none' : 'block')" class="text-size-regular text-color-black"><span class="text-color-yellow">Free shipping</span> from 50€</div><div x-bind:style="'width: ' + (total.price/shippingFree) *100 + '%'" class="text-size-regular text-color-black"><span class="text-color-yellow">Free shipping</span> unlocked!</div></div><div class="shipping_component-bar"><div x-bind:style="'width: ' + (total.price/shippingFree) *100 + '%'" class="shipping_component-bar-progress"></div></div></div><a x-bind:href="'/checkout'" href="#" class="checkout-button w-button">Proceed to checkout</a></div></div><div li-cloak="hide" li-element="mini-cart-empty" :style="total.items && { display: 'none' }"><div class="mini-cart_header"><div class="mini-cart_header-inner"><div class="heading-style-h5">Cart</div><div class="text-size-small">(0)</div></div><div li-element="dropdown-toggle" class="icon-embed-small w-embed" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><svg width="100%" height="100%" viewbox="0 0 33 33" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M29.4788 22.9176C29.5985 22.9872 29.6934 23.0699 29.7582 23.1609C29.8229 23.2519 29.8563 23.3494 29.8563 23.4479C29.8563 23.5463 29.8229 23.6438 29.7582 23.7348C29.6934 23.8258 29.5985 23.9085 29.4788 23.9781C29.3591 24.0477 29.217 24.103 29.0607 24.1406C28.9043 24.1783 28.7367 24.1977 28.5675 24.1977C28.3982 24.1977 28.2306 24.1783 28.0743 24.1406C27.9179 24.103 27.7758 24.0477 27.6562 23.9781L16.9748 17.7622L6.29337 23.9781C6.05168 24.1187 5.72387 24.1977 5.38206 24.1977C5.04025 24.1977 4.71244 24.1187 4.47074 23.9781C4.22905 23.8375 4.09326 23.6467 4.09326 23.4479C4.09326 23.249 4.22905 23.0582 4.47074 22.9176L15.1537 16.7027L4.47074 10.4878C4.22905 10.3471 4.09326 10.1564 4.09326 9.95752C4.09326 9.75864 4.22905 9.56791 4.47074 9.42728C4.71244 9.28665 5.04025 9.20764 5.38206 9.20764C5.72387 9.20764 6.05168 9.28665 6.29337 9.42728L16.9748 15.6431L27.6562 9.42728C27.8979 9.28665 28.2257 9.20764 28.5675 9.20764C28.9093 9.20764 29.2371 9.28665 29.4788 9.42728C29.7205 9.56791 29.8563 9.75864 29.8563 9.95752C29.8563 10.1564 29.7205 10.3471 29.4788 10.4878L18.7958 16.7027L29.4788 22.9176Z" fill="currentColor"></path></svg></div></div><div class="mini-cart_empty"><div class="mini-cart_empty-inner"><div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewbox="0 0 33 33" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M16.4746 3.5C13.9035 3.5 11.39 4.26244 9.2522 5.6909C7.11436 7.11935 5.44812 9.14968 4.46418 11.5251C3.48024 13.9006 3.2228 16.5144 3.72441 19.0362C4.22601 21.5579 5.46414 23.8743 7.28223 25.6924C9.10031 27.5105 11.4167 28.7486 13.9384 29.2502C16.4602 29.7518 19.0741 29.4944 21.4495 28.5104C23.8249 27.5265 25.8553 25.8603 27.2837 23.7224C28.7122 21.5846 29.4746 19.0712 29.4746 16.5C29.471 13.0533 28.1002 9.74882 25.663 7.31163C23.2258 4.87445 19.9213 3.50364 16.4746 3.5ZM16.4746 27.5C14.299 27.5 12.1723 26.8549 10.3633 25.6462C8.5544 24.4375 7.1445 22.7195 6.31194 20.7095C5.47938 18.6995 5.26154 16.4878 5.68598 14.354C6.11041 12.2202 7.15806 10.2602 8.69644 8.72183C10.2348 7.18345 12.1948 6.1358 14.3286 5.71136C16.4624 5.28692 18.6741 5.50476 20.6841 6.33733C22.6941 7.16989 24.4121 8.57979 25.6208 10.3887C26.8295 12.1977 27.4746 14.3244 27.4746 16.5C27.4713 19.4164 26.3113 22.2123 24.2491 24.2745C22.187 26.3367 19.391 27.4967 16.4746 27.5ZM10.4746 14C10.4746 13.7033 10.5626 13.4133 10.7274 13.1666C10.8922 12.92 11.1265 12.7277 11.4006 12.6142C11.6747 12.5006 11.9763 12.4709 12.2673 12.5288C12.5582 12.5867 12.8255 12.7296 13.0353 12.9393C13.2451 13.1491 13.3879 13.4164 13.4458 13.7074C13.5037 13.9983 13.474 14.2999 13.3604 14.574C13.2469 14.8481 13.0546 15.0824 12.808 15.2472C12.5613 15.412 12.2713 15.5 11.9746 15.5C11.5768 15.5 11.1953 15.342 10.914 15.0607C10.6327 14.7794 10.4746 14.3978 10.4746 14ZM22.4746 14C22.4746 14.2967 22.3866 14.5867 22.2218 14.8334C22.057 15.08 21.8227 15.2723 21.5486 15.3858C21.2746 15.4994 20.973 15.5291 20.682 15.4712C20.391 15.4133 20.1237 15.2704 19.914 15.0607C19.7042 14.8509 19.5613 14.5836 19.5034 14.2926C19.4456 14.0017 19.4753 13.7001 19.5888 13.426C19.7023 13.1519 19.8946 12.9176 20.1413 12.7528C20.3879 12.588 20.6779 12.5 20.9746 12.5C21.3724 12.5 21.754 12.658 22.0353 12.9393C22.3166 13.2206 22.4746 13.6022 22.4746 14ZM22.3396 22C22.412 22.1138 22.4606 22.2411 22.4824 22.3742C22.5043 22.5073 22.4991 22.6434 22.467 22.7744C22.4349 22.9054 22.3766 23.0285 22.2957 23.1364C22.2148 23.2443 22.1129 23.3348 21.9961 23.4022C21.8794 23.4697 21.7502 23.5129 21.6163 23.5292C21.4824 23.5454 21.3466 23.5345 21.2171 23.4969C21.0876 23.4593 20.967 23.3959 20.8626 23.3105C20.7582 23.2251 20.6721 23.1195 20.6096 23C19.6759 21.3863 18.2084 20.5 16.4746 20.5C14.7409 20.5 13.2734 21.3875 12.3396 23C12.2771 23.1195 12.1911 23.2251 12.0867 23.3105C11.9823 23.3959 11.8617 23.4593 11.7322 23.4969C11.6026 23.5345 11.4668 23.5454 11.3329 23.5292C11.1991 23.5129 11.0699 23.4697 10.9531 23.4022C10.8363 23.3348 10.7344 23.2443 10.6535 23.1364C10.5726 23.0285 10.5143 22.9054 10.4822 22.7744C10.4502 22.6434 10.4449 22.5073 10.4668 22.3742C10.4887 22.2411 10.5373 22.1138 10.6096 22C11.8959 19.7762 14.0334 18.5 16.4746 18.5C18.9159 18.5 21.0534 19.775 22.3396 22Z" fill="currentColor"></path></svg></div><div class="text-size-large">Oops! You have empty cart</div><div class="text-size-medium text-color-hazel90">You can still shop something else.</div></div><div class="mini-cart_empty-more"><a class="button background-color-hazel20 w-inline-block" href="{{ section.settings.url_button_link_1 }}"> <div class="text-size-regular">{{ section.settings.text_button_text_1 }}</div><div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 19 18" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><rect x="0.5" y="0.774902" width="18" height="17" rx="8.5" fill="#FFD102"></rect><path d="M7.82031 6.57178L10.6829 9.2753L7.82031 11.9788L8.90466 13.0029L12.8516 9.2753L8.90466 5.54767L7.82031 6.57178Z" fill="#222121"></path></svg></div> </a>
</div></div></div></div></nav></div>
