<div class="padding-global padding-section-medium"><div class="container-large"><div class="default_globe-wrapper"><div class="text-rich-text w-richtext">
</div>
</div></div></div> {% schema %} {"tag":"section","name":"article_richtext","class":"section_artikel","presets":[{"name":"article_richtext","category":"Liquify"}]} {% endschema %}