<div class="padding-global"><div class="container-large"><div li-object:text="article.content" class="blog_richtext max-width-large w-richtext">
{{ article.content }}
</div></div></div> {% schema %} {"tag":"section","name":"artikel_content","class":"section_blog-content","presets":[{"name":"artikel_content","category":"Liquify"}]} {% endschema %}