<div class="padding-global"><div class="container-large"><div class="swiper is-subbanner"><div class="swiper-wrapper subbanner_content">{% for block in section.blocks %}
    {% if block.type == "usps" %}
                    <div li-block="USPs" class="swiper-slide subbanner_content-item">
                                    <img class="subbanner_content-img"
     src="{{ block.settings.image_icon | img_url: 'master' }}"
     alt="{{ block.settings.image_icon.alt }}"
     loading="lazy">

                                    <div class="text-size-regular text-weight-semibold">
{{ block.settings.text_text }}
</div>

                            </div>
            {% endif %}
{% endfor %}
</div></div><div class="hide w-embed w-script"><script>document.addEventListener("DOMContentLoaded", function() {
  var swiper = new Swiper(".is-subbanner", {
    // Default settings
    slidesPerView: 'auto', // Default to mobile view
    spaceBetween: 20,
    effect: 'slide', // Add slide effect
    speed: 800,
    a11y: false,
    loop: true, // Continuous sliding
    autoplay: {
      delay: 0,
      disableOnInteraction: false,
      stopOnLastSlide: false,
    },
    speed: 7000, // Speed for continuous sliding
    // Responsive breakpoints
    breakpoints: {
      // Desktop
      1024: {
        slidesPerView: 'auto', // Disable Swiper on desktop by showing all slides
        spaceBetween: 0,
        noSwiping: true, // Disable swiping
        allowTouchMove: false, // Disable touch interactions
        autoplay: false, // Disable autoplay on desktop
      },
      // Tablet
      768: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      // Mobile (default setting)
      0: {
        slidesPerView: 'auto',
        spaceBetween: 20,
      }
    }
  });
});
</script><style>.subbanner_content {
	transition-timing-function: linear !important;
  }
</style></div></div></div> {% schema %} {"tag":"section","name":"banner_home","class":"section_subbanner background-color-alternate","blocks":[{"name":"USPs","type":"usps","settings":[{"id":"image_icon","type":"image_picker","label":"Icon"},{"id":"text_text","type":"text","label":"Text","default":"Precise workmanship of exclusive leather"}]}],"presets":[{"name":"banner_home","category":"Liquify"}]} {% endschema %}