<div class="padding-global"><div class="container-large"><div class="section_headline"><h2 class="heading-large">
{{ section.settings.text_headline }}
</h2>
</div><div class="w-embed w-script"><script src="https://apps.elfsight.com/p/platform.js" defer=""></script><div class="elfsight-app-7917c4d5-7c21-4948-89ee-04014b29e771"></div></div></div></div><div id="instagram" class="anchor-link"></div> {% schema %} {"tag":"section","name":"instagram","class":"section_instagram","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Vioneers auf Instagram"}],"presets":[{"name":"instagram","category":"Liquify"}]} {% endschema %}