<div class="padding-global"><div class="container-large"><div class="swiper_component"><div class="swiper is-gallery-slider"><div class="swiper-wrapper">{% for block in section.blocks %}
    {% if block.type == "slider" %}
                    <div li-block="Slider" class="swiper-slide is-gallery-slider">
                                    <img class="landingpage-slider_img"
     src="{{ block.settings.image_bild | img_url: 'master' }}"
     alt="{{ block.settings.image_bild.alt }}"
     loading="lazy">

                            </div>
            {% endif %}
{% endfor %}
</div></div><div class="swiper_bottom-wrapper is-landingpage-slider"><div id="swiper-pagination" class="swiper_bullet-wrapper is-slider-main"><div class="swiper_bullet is-active"></div><div class="swiper_bullet"></div></div></div></div></div></div> {% schema %} {"tag":"div","name":"l_slider","class":"section_l-slider","blocks":[{"name":"Slider","type":"slider","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"}]}],"presets":[{"name":"l_slider","category":"Liquify"}]} {% endschema %}