<div class="padding-global"><div class="container-large"><div class="scrub_content"><div id="w-node-c2abba95-0ab5-372f-aa0a-d08609aad45e-09aad45a" class="other-span">
{{ section.settings.text_subheading }}
</div>
<div class="max-width-xlarge"><h2 class="heading-style-h2 reveal-type">
{{ section.settings.text_heading }}
</h2>
</div></div></div></div><div class="hide w-embed w-script"><!--   Text Animation   --><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="https://unpkg.com/split-type"></script><script>gsap.registerPlugin(ScrollTrigger);
const splitTypes = document.querySelectorAll('.reveal-type');
splitTypes.forEach((char,i) => {
  const text = new SplitType(char, {types: ['chars','words']});
  gsap.from(text.chars, {
    scrollTrigger: {
      trigger: char,
      start: 'top 80%',
      end: 'top 20%',
      scrub: true,
      markers: false
    },
    opacity: 0.2,
    stagger: 0.1,
  })
});
</script></div> {% schema %} {"tag":"div","name":"scrub","class":"section_scrub background-color-standard-grey","settings":[{"id":"text_subheading","type":"text","label":"Subheading","default":"ABout us"},{"id":"text_heading","type":"text","label":"Heading","default":"We have been dedicated to perfecting our craft since 2015 , we have followed three principles: high-quality materials, elaborate craftsmanship, and all this at a fair price."}],"presets":[{"name":"scrub","category":"Liquify"}]} {% endschema %}