<div class="padding-global"><div class="container-large"><div class="pairing_headline"><div class="content-grid is-centered"><div><div class="subline">
{{ section.settings.text_subline }}
</div>
<h1 class="heading-xlarge max-width-large">
{{ section.settings.text_headline }}
</h1>
</div><p class="heading-medium max-width-large"> {{ section.settings.textarea_text }} </p>
</div></div></div></div> {% schema %} {"tag":"section","name":"text","class":"section_text is-green","settings":[{"id":"text_subline","type":"text","label":"Subline","default":"Partner der SPitzengastronomie"},{"id":"text_headline","type":"text","label":"Headline","default":"Wir sind der moderne Partner der Spitzengastronomie und nehmen nur Top-Notch Restaurant auf."},{"id":"textarea_text","type":"textarea","label":"Text","default":"Auf rund 10 Ha pflanzt Felix Weine an, besonders ist, dass er auf jeglichen Einsatz von chemischen D\u00fcngern verzichtet. Bereits 1402 hatte der Urgro\u00dfvater von Felix begonnen R\u00fcben anzupflanzen. Dabei hat er gemerkt, dass er R\u00fcbensaft nicht so sehr mag wie Wein. Also wurde er Winzer. Dabei hat er gemerkt, dass er R\u00fcbensaft nicht so sehr mag wie Wein. Also wurde er Winzer."}],"presets":[{"name":"text","category":"Liquify"}]} {% endschema %}