<div class="padding-global padding-section-large"><div class="container-large"><div class="infra_content"><div id="w-node-_1340b70c-d38e-789e-8b26-0a05b4897985-b4897981" class="infra_content-inner max-width-large"><h1 class="heading-style-h2">
{{ section.settings.text_main_heading }}
</h1>
<div class="max-width-medium"><p class="text-size-regular">
{{ section.settings.text_paragraph }}
</p>
</div><a href="#jobs" class="button w-button">Alle Produkte anzeigen</a></div><div class="spacer-40"></div><img class="infra_img"
     src="{{ section.settings.image_image | img_url: 'master' }}"
     alt="{{ section.settings.image_image.alt }}"
     loading="lazy">
</div></div></div> {% schema %} {"tag":"header","name":"text_on_grey","class":"section_infra","settings":[{"id":"text_main_heading","type":"text","label":"Main Heading","default":"Wir k\u00fcmmern uns um Ihre Mining-Projekte"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"text_on_grey","category":"Liquify"}]} {% endschema %}