<div class="subnav_scroll-indicator"><div class="subnav_scroll-indicator-stripe"></div></div><div class="padding-global"><div class="subnav_wrapper no-scrollbar container-large"><div id="w-node-ad64942c-57c8-fe26-9545-a951901fe3e5-6ff8b550" class="subnav_link-grid">{% if collection.metafields.my_fields.die_entdeckung_bild_links != blank %}    <a href="#Entdeckung" li-if="collection.metafields.my_fields.die_entdeckung_bild_links != blank" class="nav-menu_link is-subnav w-inline-block">
    <div>Entdeckung</div>    </a>
{% endif %}{% if collection.metafields.my_fields.weingut_headline != blank %}    <a href="#beschreibung" li-if="collection.metafields.my_fields.weingut_headline != blank" class="nav-menu_link is-subnav w-inline-block">
    <div>Beschreibung</div>    </a>
{% endif %}{% if collection.metafields.my_fields.lage_bild != blank %}    <a href="#lage" li-if="collection.metafields.my_fields.lage_bild != blank" class="nav-menu_link is-subnav w-inline-block">
    <div>Lage</div>    </a>
{% endif %}<a href="#weine" class="nav-menu_link is-subnav w-inline-block"><div>Weine</div></a></div></div></div> {% schema %} {"tag":"div","name":"weingut_nav","class":"section-subnav is-up","presets":[{"name":"weingut_nav","category":"Liquify"}]} {% endschema %}